.heading { 
	background: #FF1168;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF1168), to(#FF3388)); 
	position: relative;
  -webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	top: -10px;
}

a img{
	border: none;
}
a:hover{
	background: black;
	color: white;
	-webkit-transition: color 0.2s linear; 
	-webkit-transition-property: color,background,padding,left;
}

a{
	text-decoration: none;
	color: #333;
	border-bottom: 1px dotted #aaa;
}

li{
	margin-bottom: 0.5em;
}
.heading h1{
	margin: 0;
	padding: 50px 0 10px 0
}

.heading h1 a{
	color: white;
	background: black;
	text-decoration: none;
	font-size: 60px;
	letter-spacing: -5px;
	word-spacing: 10px;
	margin: 0;
	padding: 0;
  -webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	border: none;
	position: relative;
	left: 10px;
	display: block;
	width: 5em;
	text-align: center;
}

h2.subtitle{
	margin: 40px 0;
	font-size: 2em;
	font-weight: bold;
	color: #111;
	letter-spacing: -1px;
	text-align: center;
}

h2.subtitle em{
	padding: 10px;
	font-style: normal;
	background: #FF1168;
	color: black;
}

h2.subtitle em:nth-child(2){
	background: black;
	color: white;
}

.gridlinks{
	border-top: 1px dotted #aaa;
	border-bottom: 1px dotted #aaa;
	margin: 40px 0;
}

.gridlinks div img{
	vertical-align: bottom;
	position: relative;
	top: -7px;
}
.gridlinks div{
	text-align: center;
	display: block;
	line-height: 40px;
	font-size: 12px;
	color: black;
}

.gridlinks a{ border: none; display: block; color: inherit; -webkit-transition: color,background 0.2s linear; background: rgba(255,255,255,0); }
.gridlinks a:hover{color: black;}
.gridlinks div:nth-child(even) a:hover{ background: #FF1168; }
.gridlinks div:nth-child(odd) a:hover{ background: black; color: white; }


.metadate{
	text-align: center;
	width: 90px;
	margin: 0 auto;
	color: black;
	background: #FF1168;
}
.metadate b{
	font-size: 1.6em;
}

h1.title a{
	background: black;
	color: white;
	padding: 5px;
	border: none;
}


.slideshow{
	width: 640px; 
	height: 320px; 
	overflow: hidden; 
	position: relative;
	left: -2px;
	top: -2px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.slideshow img{
	width: 640px;
}

.slideshow .slide{
	position: absolute;
	top: 0;
	left: 0;
}

.slideshow .slide .description{
	position: absolute;
	top: 280px;
	height: 20px;
	padding: 10px;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 1px black;
	color: white;
	
}